[Desktop Entry]
Type=Application
Name=Lunday
Comment=Unofficial desktop client for monday.com
Exec=lunday
Icon=io.github.ulitus.Lunday
Terminal=false
Categories=Office;ProjectManagement;
StartupNotify=true
