[Desktop Entry]
Type=Application
Name=Lunday
Comment=Monday.com desktop app
Exec=lunday
Icon=io.github.ulitus.Lunday
Terminal=false
Categories=Office;ProjectManagement;
StartupNotify=true
